<div class="pure-u-1" id="list">
        <div class="task-item-header">
            <a href="#">SCC</a> Projects
        </div>
	<div class="task-item pure-g">
		<a href="#">
        <div class="pure-u">
			<img class="checkbox-img" src="img/arrow.png">
		</div>
		 <div class="pure-u-2-3">
            <h4 class="task-subject">Fix that crack in the wall</h4>
            <p class="task-desc">
                Chisolm got drunk and smashed his head into the wall. We need to fix it before Cliff comes around.
            </p>
        </div>
        </a>
    </div>


    <div class="task-item pure-g">
    <a href="#">
		<div class="pure-u">
			<img class="checkbox-img" src="img/arrow.png">
		</div>
		 <div class="pure-u-2-3">
            <h4 class="task-subject">Pee on Sig Nu's Porch</h4>
            <p class="task-desc">
                Because fuck them.
            </p>
        </div>
    </a>
    </div>
    <div class="task-item task-item-selected pure-g">
        <a href="#">
        <div class="pure-u">
            <img class="checkbox-img" src="img/plus.png">
        </div>
         <div class="pure-u-2-3">
            <h4 class="task-subject">Add a project!</h4>
            <p class="task-desc">
            </p>
        </div>
        </a>
    </div>
</div>

<div class="pure-u-1" id="main">
    <div class="task-content">
        <div class="task-content-header pure-g">

            <div class="pure-u-1">
                <div class="task-content-title"><a href="index.html#/projectsedit">Fix that crack in the wall</a> <img src="img/edit.png" width=4%></div>
                <p class="task-content-subtitle">
                    From <a>Jake Helmers</a> at <span>3:56pm, April 3, 2012</span>
                </p>
                <p class="task-content-subtitle">
                Chisolm got drunk and smashed his head into the wall. We need to fix it before Cliff comes around.
                </p>
            </div>
        </div>


        <div class="task-content-body">
            <div class="pure-g">
            	<div class="pure-u-1 task-content-comments">
            		I'm a comment! <a href="#" class="task-comments-form">Mike Hankowsky</a>
            	</div>
            	<div class="pure-u-1 task-content-comments-form">
            		<form class="pure-form">
					Comment:
				    <input type="text" class="pure-input-rounded">
				    <button type="submit" class="pure-button">Search</button>
				</form>
            	</div>
            </div>
        </div>
    </div>
</div>